:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 10vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#LikePost {
  margin: 0;
  border: none;
  padding: 5px;
  font-size: larger;
  border-radius: 0%;
  background-color: transparent;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: rgb(255, 253, 253);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  border: 1px dotted gray;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input.enterValue {
  background-color: #fff;
  color: #000;
  padding: 0.6em 1.2em;
  border: 1px solid grey;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 500;
  width: 70%;
  font-family: inherit;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ResultContainer {
  display: flex;
}

.posts {
  width: 20%;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 10px;
  margin: 1rem;
  padding-left: 1rem;
}


/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


}